<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home / Learning Node</title>
</head>
<body>
    <h1>Home</h1>
    <p>Welcome</p>
    <hr>
    <h4>Форма</h4>
    <form method="post" action="/">
        <input type="text" name="title">
        <button type="submit">Send</button>
    </form>
    <hr>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contacts">Contacts</a>
    </nav>
    <hr>
    <nav>API:
        <a href="/api/users">Users</a>
        <a href="/api/news">News</a>
    </nav>
</body>
</html>