  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Курсы</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li{{#if isHome}} class="active"{{/if}}><a href="/">Главная</a></li>
        <li{{#if isAbout}} class="active"{{/if}}><a href="/about">О проекте</a></li>
        <li{{#if isCoursesList}} class="active"{{/if}}><a href="/courses">Курсы</a></li>
        <li{{#if isAdd}} class="active"{{/if}}><a href="/add">Добавить курс</a></li>
      </ul>
    </div>
  </nav>